# load starship
eval "$(starship init zsh)"

# exports
export DISTROTUNNEL={{ .distrotunnel.path }};
export PATH=~/.cargo/bin:$DISTROTUNNEL/bin:$PATH
export EDITOR='nvim'
export OPENAI_API_KEY="{{ .openai.secretKey }}";
export BROWSER='firefox-developer-edition'
export SAVEHIST=1000
export HISTFILE=~/.zsh_history

# add ~/.zsh to fpath
fpath=(~/.zsh $fpath)

# load zsh plugins
autoload -U compinit
compinit -i

# ls
alias ls='exa --icons'
alias l='ls -lh'
alias ll='ls -lah'
alias la='ls -A'
alias lm='ls -m'
alias lr='ls -R'
alias lg='ls -l --group-directories-first'

# git
alias gcl='git clone --depth 1'
alias gi='git init'
alias ga='git add'
alias gc='git commit -m'
alias gp='git push origin master'

# bat
alias bat='bat --style=auto'

# tmuxp
alias ctm='tmuxp load ~/.config/tmuxp/dev.yaml' # ctm is an acronym for code, task, monitor

# distrotunnel
alias distrotunnel='distrobox enter distrotunnel'
alias distrotunnel_setup='source $DISTROTUNNEL/scripts/setup' 
alias distrotunnel_unsetup='source $DISTROTUNNEL/scripts/unsetup' 

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# won keybind
bindkey 'C-f' won 

neofetch

# load zsh-syntax-highlighting, should be last line
source ~/.zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
